@model CMS.Models.Page

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal ml-3">
        <h4>Page</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Visitors)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.Author)
        <div class="form-group ml-3 mr-3">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-check ml-3 mr-3">
            <label class="form-check-label">
                @Html.EditorFor(model => model.Activation, "", new { @class = "form-check-input" })
                @Html.LabelFor(model => model.Activation)
                @Html.ValidationMessageFor(model => model.Activation, "", new { @class = "text-danger" })
            </label>
        </div>

        <div class="form-group ml-3 mr-3">
            @Html.LabelFor(model => model.Content)
            @Html.TextAreaFor(model => model.Content,new { id = "PageContent" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>

        <div class="form-group ml-3 mr-3">
            @Html.LabelFor(model => model.MediaId)
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Select Image
            </button>
            @Html.ValidationMessageFor(model => model.MediaId, "", new { @class = "text-danger" })
        </div>

        <input name="image" type="file" id="upload" style="display:none;" onchange="">

        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Choose an image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (ViewBag.ImageList.Count > 0)
                        {
                            <div class="row text-center">
                                @foreach (var item in ViewBag.ImageList)
                                {
                                    <div class="col-md-3 col-sm-6 col-xs-12" id="gallary">
                                        <input type="radio" name="MediaId" id="@item.Id" class="input_hidden" value="@item.Id" @(Model.MediaId == item.Id ? "checked" : "") />
                                        <label for="@item.Id"><img class="img-fluid img-thumbnail" src="@Url.Content("~/Uploads/"+item.Path)" alt="" /></label>
                                    </div>

                                }
                            </div>
                        }
                        else
                        {
                            <p class="text-center">No Data Avalible To Show</p>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group ml-3 mr-3">
            <input type="submit" value="Save" class="btn btn-primary btn-block" />
        </div>
    </div>
}

<div class="mb-4">
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    CKEDITOR.replace("PageContent");
</script>
