<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/admin.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-dark">
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.easing.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>