@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-users"></i> Roles
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                                @if (!item.Name.Contains("Admin"))
                                {
                                   @:| @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">
        Updated Today At
        <script>
        var d = new Date();
        document.write(d.getHours() % 12 + ":" + d.getMinutes() + ":" + d.getSeconds());
        </script>
    </div>
</div>