@using CMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="submit" value="Login" class="btn btn-primary btn-block">
        }
        <div class="text-center">
            @Html.ActionLink("Forgot password?", "ForgotPassword", null, new { @class = "d-block small" })
        </div>
    </div>
</div>

@section Scripts {
    <script>
        alert("Test Admin Account:\nUser Name: ahmed\nPassword: ahmed123");
    </script>
}


